<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    {% extends 'login.html' %}
</head>
<body>
{% block context %}
    <h3 style="text-align:center">用户注册</h3>
    <form method="post" action="{{ url_for('register.register') }}">
        <div class="mb-3">
      <label class="form-label">User Name</label>
      <input type="text" class="form-control" name="user_name"  placeholder="输入用户名">
    </div>
        <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="text" class="form-control" name="password" placeholder="输入密码">
    </div>
        <input class="btn btn-primary" type="submit" value="Submit">
        <script src="{{ url_for('static', filename='/bootstrap5/bootstrap.bundle.min.js') }}"></script>
        <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>
    </form>
{% endblock %}
</body>
</html>